@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
:root{
    --title-font: 'Crimson Pro', serif;
    --sub-title: 'Lora', serif;
    --content-text: 'Open Sans', sans-serif;
    --main-color: rgb(69, 184, 69);
    --background-color: beige;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}

h1, h3, h4{
    font-family: var(--title-font);
}

p{
    font-family: 'Courier New', Courier, monospace;
}

h4{
    margin-top: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: var(--main-color);
    border-radius: 0 0 20px 20px;
}

.what-happened-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75vw;

    background-color: var(--background-color);

    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
               0 32px 64px rgba(0,0,0,0.05);
}

.today-date{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-div{
    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
               0 32px 64px rgba(0,0,0,0.05);
}

.search-by-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75vw;
    padding-bottom: 20px;

    background-color: var(--main-color);
    border-radius: 20px;
}

.search-results-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-results{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* text-align: center; */


    max-width: 75vw;
}

.year{
    text-align: center;
    width: 25%;
}

.description{
    width: 75%;
    padding-right: 20px;
}

.key{
    display: flex;
    flex-direction: row;

}

.key-gradient{
    height: 5px;
    width: 400px;

    background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(0, 0, 0));
}

.heat-map-year{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    padding-bottom: 20px; 
}

.heat-map-day{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 200px;
    margin: 0;

    text-align: center;
}

.heat-map-day p{
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .what-happened-today, .search-div, .search-by-date, .heat-map-year{
        width: 100vw;
    }


}